.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000; /* Fondo negro */
    color: #FFD700; /* Amarillo */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.company-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 20px; /* Espaciado entre enlaces */
}

.navbar-links a {
    text-decoration: none;
    color: #FFD700;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #fff; /* Cambia a blanco al pasar el cursor */
}
